
.container {
  text-align: right;

  background-color: #e5b4bc;

  height: 100%;
}

.row {
  padding: 50px 0;
  margin: 0 25%;
}

.webTitle{
  font-family: 'Dancing Script', cursive;
}

@media screen and (min-width: 601px) {
  .webTitle{
    font-size: 124px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    text-align: center;
  }
  .webTitle{
    font-size: 72px;
  }
  .row{
    margin: 0 10%
  }
}
