
.container {
  
  max-width: 100%;
}

.content{
  padding: 50px 0;
  margin: 0 15%;
}

.webTitle{
  font-family: 'Dancing Script', cursive;
}

.beginningInfo{
  text-align: right;
}

@media screen and (min-width: 1001px) {
  .webTitle{
    font-size: 124px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    text-align: center;
  }
  .webTitle{
    font-size: 72px;
  }
  .content{
    margin: 0 10%
  }
}
