.header {
  color: #e5b4bc;
  position: relative;
  text-align: left;
  margin: auto 16px;
  padding: 108px 32px;
  font-family: bold;
  line-height: 1.5em;

}


.list {
  position: relative;
  text-align: left;
  margin: -64px 50px;
  padding: -32px 0px;
}

.headings {
 color: #e5b4bc;
}


.text {
  color: #5b423e;
  margin-top: 50px;
  padding: 10px;
}

.shop {
  height: 375px;
  width: 500px;

}

.picture {
  background-color: #e5b4bc;

}
